CVD Test Dataset

In [172]:
import numpy as np
import pandas as pd

In [173]:
df1 = pd.read_csv('Dataset/healthCheckup.csv')
df2 = pd.read_csv('Dataset/healthSurvey.csv')

In [174]:
df1.head()

,ID Number,Name,Surname,Age,Gender,Created At,Updated At,Height,Weight,BMI,...,Blood Pressure Diastolic,Temperature,Took Antihypertensive,House Number,Road,Lane,Village Number,Sub District,District,Province
0,1269900350207,วัชรศักย์,พรหมณี,22,Female,2025-02-16T04:01:54.254Z,2025-02-16T04:01:54.254Z,166,67.0,24.3,...,63,37.9,False,4-159/19,ชลประสิทธิ์,-,-,นครนายก,เมืองนครนายก,นครนายก
1,1650400096270,มลฤดี,สว่างพิมพ์,37,Female,2025-02-14T04:17:44.934Z,2025-02-14T04:17:44.934Z,164,57.0,21.2,...,60,35.9,False,141,-,-,7,ศรีกะอาง,บ้านนา,นครนายก
2,2260300017663,เพ็ญพิศ,ประสงค์,60,Female,2025-02-13T04:31:55.404Z,2025-02-13T04:31:55.404Z,149,70.0,31.5,...,79,36.9,True,7,-,-,10,เขาเพิ่ม,บ้านนา,นครนายก
3,2260300018244,สุนารีย์,จันหอม,38,Female,2025-02-14T05:37:41.537Z,2025-02-14T05:37:41.537Z,157,60.0,24.3,...,79,36.6,False,17,-,-,7,ศรีกะอาง,บ้านนา,นครนายก
4,3100700640618,รัตนาวรรณ,กังวล,60,Female,2025-01-24T08:48:13.164Z,2025-01-24T08:48:13.164Z,160,74.5,29.1,...,71,35.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [175]:
df1 = df1.rename(columns={'ID Number':'ID'})

In [176]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49 entries, 0 to 48
Data columns (total 23 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   ID                        49 non-null     int64
 1   Name                      49 non-null     object
 2   Surname                   49 non-null     object
 3   Age                       49 non-null     int64
 4   Gender                    49 non-null     object
 5   Created At                49 non-null     object
 6   Updated At                49 non-null     object
 7   Height                    49 non-null     int64
 8   Weight                    49 non-null     float64
 9   BMI                       48 non-null     float64
 10  Blood Sugar               49 non-null     int64
 11  Blood Oxygen              49 non-null     int64
 12  Blood Pressure Systolic   49 non-null     int64
 13  Blood Pressure Diastolic  49 non-null     int64
 14  Temperature               47 non-null     float64
 15  Took Antihypertensive     27 non-null     object
 16  House Number              27 non-null     object
 17  Road                      27 non-null     object
 18  Lane                      27 non-null     object
 19  Village Number            27 non-null     object
 20  Sub District              27 non-null     object
 21  District                  27 non-null     object
 22  Province                  27 non-null     object
dtypes: float64(3), int64(7), object(13)
memory usage: 8.9+ KB

In [177]:
df2.head()

,idNumber,createdAt,alcoholStatus,smokingStatus,hasHypertension,hasDiabetes,stressScores,depressionAssessment,suicideRiskAssessment,q1Depression,q2Depression
0,1019960423065,2025-01-27 07:40:22.019670Z,none,none,True,True,"0,1,0,0,0","0,0,0,0,0,0,0,0,0","False,False,False,False,False,False,False,False",False,False
1,1269900350207,2025-02-16 04:02:11.960556Z,none,none,False,False,"0,0,0,0,0","0,0,0,0,0,0,0,0,0","False,False,False,False,False,False,False,False",False,False
2,1650400096270,2025-02-14 04:18:06.430058Z,none,none,False,False,"0,0,0,0,0","0,0,0,0,0,0,0,0,0","False,False,False,False,False,False,False,False",False,False
3,2260300017663,2025-02-13 04:32:22.402254Z,none,none,True,False,"0,0,0,0,0","0,0,0,0,0,0,0,0,0","False,False,False,False,False,False,False,False",False,False
4,2260300018244,2025-02-14 05:38:03.723725Z,regular,none,False,False,"0,0,0,0,0","0,0,0,0,0,0,0,0,0","False,False,False,False,False,False,False,False",False,False

In [178]:
df2 = df2.rename(columns={'idNumber':'ID'})

In [179]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49 entries, 0 to 48
Data columns (total 11 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   ID                     49 non-null     int64
 1   createdAt              49 non-null     object
 2   alcoholStatus          49 non-null     object
 3   smokingStatus          49 non-null     object
 4   hasHypertension        49 non-null     bool
 5   hasDiabetes            49 non-null     bool
 6   stressScores           49 non-null     object
 7   depressionAssessment   49 non-null     object
 8   suicideRiskAssessment  49 non-null     object
 9   q1Depression           49 non-null     bool
 10  q2Depression           49 non-null     bool
dtypes: bool(4), int64(1), object(6)
memory usage: 3.0+ KB

In [180]:
# merge 2 df
df = pd.merge(df1, df2, how='left', on='ID')

In [181]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49 entries, 0 to 48
Data columns (total 33 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   ID                        49 non-null     int64
 1   Name                      49 non-null     object
 2   Surname                   49 non-null     object
 3   Age                       49 non-null     int64
 4   Gender                    49 non-null     object
 5   Created At                49 non-null     object
 6   Updated At                49 non-null     object
 7   Height                    49 non-null     int64
 8   Weight                    49 non-null     float64
 9   BMI                       48 non-null     float64
 10  Blood Sugar               49 non-null     int64
 11  Blood Oxygen              49 non-null     int64
 12  Blood Pressure Systolic   49 non-null     int64
 13  Blood Pressure Diastolic  49 non-null     int64
 14  Temperature               47 non-null     float64
 15  Took Antihypertensive     27 non-null     object
 16  House Number              27 non-null     object
 17  Road                      27 non-null     object
 18  Lane                      27 non-null     object
 19  Village Number            27 non-null     object
 20  Sub District              27 non-null     object
 21  District                  27 non-null     object
 22  Province                  27 non-null     object
 23  createdAt                 47 non-null     object
 24  alcoholStatus             47 non-null     object
 25  smokingStatus             47 non-null     object
 26  hasHypertension           47 non-null     object
 27  hasDiabetes               47 non-null     object
 28  stressScores              47 non-null     object
 29  depressionAssessment      47 non-null     object
 30  suicideRiskAssessment     47 non-null     object
 31  q1Depression              47 non-null     object
 32  q2Depression              47 non-null     object
dtypes: float64(3), int64(7), object(23)
memory usage: 12.8+ KB

In [182]:
df.drop(columns=['ID','Name','Surname','Weight','Height','Created At','Updated At','House Number','Road','Lane','Village Number','Sub District','District','Province','Blood Oxygen','Temperature','Took Antihypertensive','createdAt','hasHypertension','hasDiabetes','stressScores','depressionAssessment','suicideRiskAssessment','q1Depression','q2Depression'], inplace=True)

In [183]:
df.rename(columns={'Age': 'age','Blood Sugar': 'gluc','Gender': 'gender','smokingStatus': 'smoke','alcoholStatus': 'alco'}, inplace=True)

In [184]:
df

,age,gender,BMI,gluc,Blood Pressure Systolic,Blood Pressure Diastolic,alco,smoke
0,22,Female,24.3,77,138,63,none,none
1,37,Female,21.2,95,122,60,none,none
2,60,Female,31.5,96,151,79,none,none
3,38,Female,24.3,110,118,79,regular,none
4,60,Female,29.1,100,75,71,none,none
5,65,Female,29.6,145,150,80,none,none
6,68,Male,25.6,93,120,72,none,none
7,62,Female,21.9,108,128,78,none,none
8,72,Female,22.2,94,99,61,none,none
9,56,Male,24.6,115,128,74,none,none
10,64,Female,19.2,125,157,87,none,none
11,71,Male,20.6,93,116,55,none,regular
12,43,Female,29.4,92,126,76,none,none
13,68,Female,29.5,96,132,74,none,none
14,83,Female,20.5,92,121,60,none,none
15,65,Female,23.8,94,134,52,none,none
16,66,Male,33.3,98,158,76,none,none
17,57,Female,28.6,393,144,90,none,none
18,59,Female,22.5,95,104,58,none,none
19,59,Female,26.2,140,122,73,none,none
20,62,Female,26.2,181,133,77,none,none
21,62,Female,24.4,94,143,91,none,none
22,62,Female,21.2,96,118,70,none,none
23,0,Female,27.1,222,163,85,none,none
24,65,Female,25.3,98,128,79,none,none
25,60,Female,27.6,87,123,75,none,none
26,57,Female,30.4,90,170,83,none,none
27,75,Female,21.9,110,115,67,none,none
28,73,Male,24.2,193,145,74,none,none
29,46,Male,25.8,103,137,83,regular,none
30,54,Female,22.6,93,141,87,none,none
31,48,Female,28.3,98,142,90,regular,none
32,62,Female,30.1,146,165,80,none,none
33,60,Male,27.2,226,134,63,none,none
34,67,Male,25.2,94,155,94,regular,none
35,60,Female,27.6,116,158,78,none,none
36,64,Female,33.3,105,129,75,none,none
37,71,Female,29.6,279,129,60,none,none
38,61,Female,23.2,95,129,88,none,none
39,65,Female,24.6,269,171,87,none,none
40,56,Male,28.1,175,141,96,none,none
41,63,Female,29.1,215,173,87,none,none
42,57,Female,NaN,119,129,75,none,none
43,47,Male,22.4,93,128,78,none,none
44,74,Female,23.0,92,119,63,regular,none
45,44,Other,32.9,127,113,88,regular,none
46,62,Male,21.9,94,134,90,none,none
47,98,Female,29.4,106,94,89,NaN,NaN
48,51,Other,29.4,120,99,82,NaN,NaN

Mapping gender (string) into gender_binary

In [185]:
gender_mapping = {'Female': 1, 'Male': 2}

In [186]:
df['gender_binary'] = df['gender'].map(gender_mapping)
print(df)

    age  gender   BMI  gluc  Blood Pressure Systolic  \
0    22  Female  24.3    77                      138
1    37  Female  21.2    95                      122
2    60  Female  31.5    96                      151
3    38  Female  24.3   110                      118
4    60  Female  29.1   100                       75
5    65  Female  29.6   145                      150
6    68    Male  25.6    93                      120
7    62  Female  21.9   108                      128
8    72  Female  22.2    94                       99
9    56    Male  24.6   115                      128
10   64  Female  19.2   125                      157
11   71    Male  20.6    93                      116
12   43  Female  29.4    92                      126
13   68  Female  29.5    96                      132
14   83  Female  20.5    92                      121
15   65  Female  23.8    94                      134
16   66    Male  33.3    98                      158
17   57  Female  28.6   393                      144
18   59  Female  22.5    95                      104
19   59  Female  26.2   140                      122
20   62  Female  26.2   181                      133
21   62  Female  24.4    94                      143
22   62  Female  21.2    96                      118
23    0  Female  27.1   222                      163
24   65  Female  25.3    98                      128
25   60  Female  27.6    87                      123
26   57  Female  30.4    90                      170
27   75  Female  21.9   110                      115
28   73    Male  24.2   193                      145
29   46    Male  25.8   103                      137
30   54  Female  22.6    93                      141
31   48  Female  28.3    98                      142
32   62  Female  30.1   146                      165
33   60    Male  27.2   226                      134
34   67    Male  25.2    94                      155
35   60  Female  27.6   116                      158
36   64  Female  33.3   105                      129
37   71  Female  29.6   279                      129
38   61  Female  23.2    95                      129
39   65  Female  24.6   269                      171
40   56    Male  28.1   175                      141
41   63  Female  29.1   215                      173
42   57  Female   NaN   119                      129
43   47    Male  22.4    93                      128
44   74  Female  23.0    92                      119
45   44   Other  32.9   127                      113
46   62    Male  21.9    94                      134
47   98  Female  29.4   106                       94
48   51   Other  29.4   120                       99

    Blood Pressure Diastolic     alco    smoke  gender_binary
0                         63     none     none            1.0
1                         60     none     none            1.0
2                         79     none     none            1.0
3                         79  regular     none            1.0
4                         71     none     none            1.0
5                         80     none     none            1.0
6                         72     none     none            2.0
7                         78     none     none            1.0
8                         61     none     none            1.0
9                         74     none     none            2.0
10                        87     none     none            1.0
11                        55     none  regular            2.0
12                        76     none     none            1.0
13                        74     none     none            1.0
14                        60     none     none            1.0
15                        52     none     none            1.0
16                        76     none     none            2.0
17                        90     none     none            1.0
18                        58     none     none            1.0
19                        73     none     none            1.0
20                        77     none     none            1.0
21                        91     none     none            1.0
22                        70     none     none            1.0
23                        85     none     none            1.0
24                        79     none     none            1.0
25                        75     none     none            1.0
26                        83     none     none            1.0
27                        67     none     none            1.0
28                        74     none     none            2.0
29                        83  regular     none            2.0
30                        87     none     none            1.0
31                        90  regular     none            1.0
32                        80     none     none            1.0
33                        63     none     none            2.0
34                        94  regular     none            2.0
35                        78     none     none            1.0
36                        75     none     none            1.0
37                        60     none     none            1.0
38                        88     none     none            1.0
39                        87     none     none            1.0
40                        96     none     none            2.0
41                        87     none     none            1.0
42                        75     none     none            1.0
43                        78     none     none            2.0
44                        63  regular     none            1.0
45                        88  regular     none            NaN
46                        90     none     none            2.0
47                        89      NaN      NaN            1.0
48                        82      NaN      NaN            NaN

Binning attributes age

In [187]:
# Define bin edges and labels
bins = [1, 30, 35, 40, 45, 50, 55, 60, 65, float('inf')]
labels = [0, 1, 2, 3, 4, 5, 6, 7 ,8]

In [188]:
df['age_bin'] = pd.cut(df['age'], bins=bins, labels=labels, right=False)
print(df)

    age  gender   BMI  gluc  Blood Pressure Systolic  \
0    22  Female  24.3    77                      138
1    37  Female  21.2    95                      122
2    60  Female  31.5    96                      151
3    38  Female  24.3   110                      118
4    60  Female  29.1   100                       75
5    65  Female  29.6   145                      150
6    68    Male  25.6    93                      120
7    62  Female  21.9   108                      128
8    72  Female  22.2    94                       99
9    56    Male  24.6   115                      128
10   64  Female  19.2   125                      157
11   71    Male  20.6    93                      116
12   43  Female  29.4    92                      126
13   68  Female  29.5    96                      132
14   83  Female  20.5    92                      121
15   65  Female  23.8    94                      134
16   66    Male  33.3    98                      158
17   57  Female  28.6   393                      144
18   59  Female  22.5    95                      104
19   59  Female  26.2   140                      122
20   62  Female  26.2   181                      133
21   62  Female  24.4    94                      143
22   62  Female  21.2    96                      118
23    0  Female  27.1   222                      163
24   65  Female  25.3    98                      128
25   60  Female  27.6    87                      123
26   57  Female  30.4    90                      170
27   75  Female  21.9   110                      115
28   73    Male  24.2   193                      145
29   46    Male  25.8   103                      137
30   54  Female  22.6    93                      141
31   48  Female  28.3    98                      142
32   62  Female  30.1   146                      165
33   60    Male  27.2   226                      134
34   67    Male  25.2    94                      155
35   60  Female  27.6   116                      158
36   64  Female  33.3   105                      129
37   71  Female  29.6   279                      129
38   61  Female  23.2    95                      129
39   65  Female  24.6   269                      171
40   56    Male  28.1   175                      141
41   63  Female  29.1   215                      173
42   57  Female   NaN   119                      129
43   47    Male  22.4    93                      128
44   74  Female  23.0    92                      119
45   44   Other  32.9   127                      113
46   62    Male  21.9    94                      134
47   98  Female  29.4   106                       94
48   51   Other  29.4   120                       99

    Blood Pressure Diastolic     alco    smoke  gender_binary age_bin
0                         63     none     none            1.0       0
1                         60     none     none            1.0       2
2                         79     none     none            1.0       7
3                         79  regular     none            1.0       2
4                         71     none     none            1.0       7
5                         80     none     none            1.0       8
6                         72     none     none            2.0       8
7                         78     none     none            1.0       7
8                         61     none     none            1.0       8
9                         74     none     none            2.0       6
10                        87     none     none            1.0       7
11                        55     none  regular            2.0       8
12                        76     none     none            1.0       3
13                        74     none     none            1.0       8
14                        60     none     none            1.0       8
15                        52     none     none            1.0       8
16                        76     none     none            2.0       8
17                        90     none     none            1.0       6
18                        58     none     none            1.0       6
19                        73     none     none            1.0       6
20                        77     none     none            1.0       7
21                        91     none     none            1.0       7
22                        70     none     none            1.0       7
23                        85     none     none            1.0     NaN
24                        79     none     none            1.0       8
25                        75     none     none            1.0       7
26                        83     none     none            1.0       6
27                        67     none     none            1.0       8
28                        74     none     none            2.0       8
29                        83  regular     none            2.0       4
30                        87     none     none            1.0       5
31                        90  regular     none            1.0       4
32                        80     none     none            1.0       7
33                        63     none     none            2.0       7
34                        94  regular     none            2.0       8
35                        78     none     none            1.0       7
36                        75     none     none            1.0       7
37                        60     none     none            1.0       8
38                        88     none     none            1.0       7
39                        87     none     none            1.0       8
40                        96     none     none            2.0       6
41                        87     none     none            1.0       7
42                        75     none     none            1.0       6
43                        78     none     none            2.0       4
44                        63  regular     none            1.0       8
45                        88  regular     none            NaN       3
46                        90     none     none            2.0       7
47                        89      NaN      NaN            1.0       8
48                        82      NaN      NaN            NaN       5

Convert continuous values into categorical values and apply bining methods

Mean Arterial Pressure (MAP) = (2 Diastolic Blood Pressure + Sistolic Blood Pressure)/3

In [189]:
df['MAP'] = (2 * df['Blood Pressure Diastolic'] + df['Blood Pressure Systolic']) / 3

In [190]:
# Define bin edges and labels
bins = [70, 80, 90, 100, 110, 120]
labels = [1, 2, 3, 4, 5]

In [191]:
df['MAP_class'] = pd.cut(df['MAP'], bins=bins, labels=labels, right=False)
print(df)

    age  gender   BMI  gluc  Blood Pressure Systolic  \
0    22  Female  24.3    77                      138
1    37  Female  21.2    95                      122
2    60  Female  31.5    96                      151
3    38  Female  24.3   110                      118
4    60  Female  29.1   100                       75
5    65  Female  29.6   145                      150
6    68    Male  25.6    93                      120
7    62  Female  21.9   108                      128
8    72  Female  22.2    94                       99
9    56    Male  24.6   115                      128
10   64  Female  19.2   125                      157
11   71    Male  20.6    93                      116
12   43  Female  29.4    92                      126
13   68  Female  29.5    96                      132
14   83  Female  20.5    92                      121
15   65  Female  23.8    94                      134
16   66    Male  33.3    98                      158
17   57  Female  28.6   393                      144
18   59  Female  22.5    95                      104
19   59  Female  26.2   140                      122
20   62  Female  26.2   181                      133
21   62  Female  24.4    94                      143
22   62  Female  21.2    96                      118
23    0  Female  27.1   222                      163
24   65  Female  25.3    98                      128
25   60  Female  27.6    87                      123
26   57  Female  30.4    90                      170
27   75  Female  21.9   110                      115
28   73    Male  24.2   193                      145
29   46    Male  25.8   103                      137
30   54  Female  22.6    93                      141
31   48  Female  28.3    98                      142
32   62  Female  30.1   146                      165
33   60    Male  27.2   226                      134
34   67    Male  25.2    94                      155
35   60  Female  27.6   116                      158
36   64  Female  33.3   105                      129
37   71  Female  29.6   279                      129
38   61  Female  23.2    95                      129
39   65  Female  24.6   269                      171
40   56    Male  28.1   175                      141
41   63  Female  29.1   215                      173
42   57  Female   NaN   119                      129
43   47    Male  22.4    93                      128
44   74  Female  23.0    92                      119
45   44   Other  32.9   127                      113
46   62    Male  21.9    94                      134
47   98  Female  29.4   106                       94
48   51   Other  29.4   120                       99

    Blood Pressure Diastolic     alco    smoke  gender_binary age_bin  \
0                         63     none     none            1.0       0
1                         60     none     none            1.0       2
2                         79     none     none            1.0       7
3                         79  regular     none            1.0       2
4                         71     none     none            1.0       7
5                         80     none     none            1.0       8
6                         72     none     none            2.0       8
7                         78     none     none            1.0       7
8                         61     none     none            1.0       8
9                         74     none     none            2.0       6
10                        87     none     none            1.0       7
11                        55     none  regular            2.0       8
12                        76     none     none            1.0       3
13                        74     none     none            1.0       8
14                        60     none     none            1.0       8
15                        52     none     none            1.0       8
16                        76     none     none            2.0       8
17                        90     none     none            1.0       6
18                        58     none     none            1.0       6
19                        73     none     none            1.0       6
20                        77     none     none            1.0       7
21                        91     none     none            1.0       7
22                        70     none     none            1.0       7
23                        85     none     none            1.0     NaN
24                        79     none     none            1.0       8
25                        75     none     none            1.0       7
26                        83     none     none            1.0       6
27                        67     none     none            1.0       8
28                        74     none     none            2.0       8
29                        83  regular     none            2.0       4
30                        87     none     none            1.0       5
31                        90  regular     none            1.0       4
32                        80     none     none            1.0       7
33                        63     none     none            2.0       7
34                        94  regular     none            2.0       8
35                        78     none     none            1.0       7
36                        75     none     none            1.0       7
37                        60     none     none            1.0       8
38                        88     none     none            1.0       7
39                        87     none     none            1.0       8
40                        96     none     none            2.0       6
41                        87     none     none            1.0       7
42                        75     none     none            1.0       6
43                        78     none     none            2.0       4
44                        63  regular     none            1.0       8
45                        88  regular     none            NaN       3
46                        90     none     none            2.0       7
47                        89      NaN      NaN            1.0       8
48                        82      NaN      NaN            NaN       5

           MAP MAP_class
0    88.000000         2
1    80.666667         2
2   103.000000         4
3    92.000000         3
4    72.333333         1
5   103.333333         4
6    88.000000         2
7    94.666667         3
8    73.666667         1
9    92.000000         3
10  110.333333         5
11   75.333333         1
12   92.666667         3
13   93.333333         3
14   80.333333         2
15   79.333333         1
16  103.333333         4
17  108.000000         4
18   73.333333         1
19   89.333333         2
20   95.666667         3
21  108.333333         4
22   86.000000         2
23  111.000000         5
24   95.333333         3
25   91.000000         3
26  112.000000         5
27   83.000000         2
28   97.666667         3
29  101.000000         4
30  105.000000         4
31  107.333333         4
32  108.333333         4
33   86.666667         2
34  114.333333         5
35  104.666667         4
36   93.000000         3
37   83.000000         2
38  101.666667         4
39  115.000000         5
40  111.000000         5
41  115.666667         5
42   93.000000         3
43   94.666667         3
44   81.666667         2
45   96.333333         3
46  104.666667         4
47   90.666667         3
48   87.666667         2

Body Mass Index (BMI) = weight (kg) / height² (m²)

In [192]:
# Define bin edges and labels
bins = [0, 15, 18.5, 25, 30, 35, float('inf')]
labels = [0, 1, 2, 3, 4, 5]

In [193]:
df['BMI_class'] = pd.cut(df['BMI'], bins=bins, labels=labels, right=False)
print(df)

    age  gender   BMI  gluc  Blood Pressure Systolic  \
0    22  Female  24.3    77                      138
1    37  Female  21.2    95                      122
2    60  Female  31.5    96                      151
3    38  Female  24.3   110                      118
4    60  Female  29.1   100                       75
5    65  Female  29.6   145                      150
6    68    Male  25.6    93                      120
7    62  Female  21.9   108                      128
8    72  Female  22.2    94                       99
9    56    Male  24.6   115                      128
10   64  Female  19.2   125                      157
11   71    Male  20.6    93                      116
12   43  Female  29.4    92                      126
13   68  Female  29.5    96                      132
14   83  Female  20.5    92                      121
15   65  Female  23.8    94                      134
16   66    Male  33.3    98                      158
17   57  Female  28.6   393                      144
18   59  Female  22.5    95                      104
19   59  Female  26.2   140                      122
20   62  Female  26.2   181                      133
21   62  Female  24.4    94                      143
22   62  Female  21.2    96                      118
23    0  Female  27.1   222                      163
24   65  Female  25.3    98                      128
25   60  Female  27.6    87                      123
26   57  Female  30.4    90                      170
27   75  Female  21.9   110                      115
28   73    Male  24.2   193                      145
29   46    Male  25.8   103                      137
30   54  Female  22.6    93                      141
31   48  Female  28.3    98                      142
32   62  Female  30.1   146                      165
33   60    Male  27.2   226                      134
34   67    Male  25.2    94                      155
35   60  Female  27.6   116                      158
36   64  Female  33.3   105                      129
37   71  Female  29.6   279                      129
38   61  Female  23.2    95                      129
39   65  Female  24.6   269                      171
40   56    Male  28.1   175                      141
41   63  Female  29.1   215                      173
42   57  Female   NaN   119                      129
43   47    Male  22.4    93                      128
44   74  Female  23.0    92                      119
45   44   Other  32.9   127                      113
46   62    Male  21.9    94                      134
47   98  Female  29.4   106                       94
48   51   Other  29.4   120                       99

    Blood Pressure Diastolic     alco    smoke  gender_binary age_bin  \
0                         63     none     none            1.0       0
1                         60     none     none            1.0       2
2                         79     none     none            1.0       7
3                         79  regular     none            1.0       2
4                         71     none     none            1.0       7
5                         80     none     none            1.0       8
6                         72     none     none            2.0       8
7                         78     none     none            1.0       7
8                         61     none     none            1.0       8
9                         74     none     none            2.0       6
10                        87     none     none            1.0       7
11                        55     none  regular            2.0       8
12                        76     none     none            1.0       3
13                        74     none     none            1.0       8
14                        60     none     none            1.0       8
15                        52     none     none            1.0       8
16                        76     none     none            2.0       8
17                        90     none     none            1.0       6
18                        58     none     none            1.0       6
19                        73     none     none            1.0       6
20                        77     none     none            1.0       7
21                        91     none     none            1.0       7
22                        70     none     none            1.0       7
23                        85     none     none            1.0     NaN
24                        79     none     none            1.0       8
25                        75     none     none            1.0       7
26                        83     none     none            1.0       6
27                        67     none     none            1.0       8
28                        74     none     none            2.0       8
29                        83  regular     none            2.0       4
30                        87     none     none            1.0       5
31                        90  regular     none            1.0       4
32                        80     none     none            1.0       7
33                        63     none     none            2.0       7
34                        94  regular     none            2.0       8
35                        78     none     none            1.0       7
36                        75     none     none            1.0       7
37                        60     none     none            1.0       8
38                        88     none     none            1.0       7
39                        87     none     none            1.0       8
40                        96     none     none            2.0       6
41                        87     none     none            1.0       7
42                        75     none     none            1.0       6
43                        78     none     none            2.0       4
44                        63  regular     none            1.0       8
45                        88  regular     none            NaN       3
46                        90     none     none            2.0       7
47                        89      NaN      NaN            1.0       8
48                        82      NaN      NaN            NaN       5

           MAP MAP_class BMI_class
0    88.000000         2         2
1    80.666667         2         2
2   103.000000         4         4
3    92.000000         3         2
4    72.333333         1         3
5   103.333333         4         3
6    88.000000         2         3
7    94.666667         3         2
8    73.666667         1         2
9    92.000000         3         2
10  110.333333         5         2
11   75.333333         1         2
12   92.666667         3         3
13   93.333333         3         3
14   80.333333         2         2
15   79.333333         1         2
16  103.333333         4         4
17  108.000000         4         3
18   73.333333         1         2
19   89.333333         2         3
20   95.666667         3         3
21  108.333333         4         2
22   86.000000         2         2
23  111.000000         5         3
24   95.333333         3         3
25   91.000000         3         3
26  112.000000         5         4
27   83.000000         2         2
28   97.666667         3         2
29  101.000000         4         3
30  105.000000         4         2
31  107.333333         4         3
32  108.333333         4         4
33   86.666667         2         3
34  114.333333         5         3
35  104.666667         4         3
36   93.000000         3         4
37   83.000000         2         3
38  101.666667         4         2
39  115.000000         5         2
40  111.000000         5         3
41  115.666667         5         3
42   93.000000         3       NaN
43   94.666667         3         2
44   81.666667         2         2
45   96.333333         3         4
46  104.666667         4         2
47   90.666667         3         3
48   87.666667         2         3

Convert glucose (integer) into 3 bins | 1: normal, 2: above normal, 3: well above normal

In [194]:
# Define the bins and labels
bins = [0, 140, 200, float('inf')]  # Define the ranges for each bin
labels = [1, 2, 3]  # 1: Normal, 2: Above Normal, 3: Well Above Normal

In [195]:
# Create the bins
df['gluc_bin'] = pd.cut(df['gluc'], bins=bins, labels=labels, right=False)
print(df)

    age  gender   BMI  gluc  Blood Pressure Systolic  \
0    22  Female  24.3    77                      138
1    37  Female  21.2    95                      122
2    60  Female  31.5    96                      151
3    38  Female  24.3   110                      118
4    60  Female  29.1   100                       75
5    65  Female  29.6   145                      150
6    68    Male  25.6    93                      120
7    62  Female  21.9   108                      128
8    72  Female  22.2    94                       99
9    56    Male  24.6   115                      128
10   64  Female  19.2   125                      157
11   71    Male  20.6    93                      116
12   43  Female  29.4    92                      126
13   68  Female  29.5    96                      132
14   83  Female  20.5    92                      121
15   65  Female  23.8    94                      134
16   66    Male  33.3    98                      158
17   57  Female  28.6   393                      144
18   59  Female  22.5    95                      104
19   59  Female  26.2   140                      122
20   62  Female  26.2   181                      133
21   62  Female  24.4    94                      143
22   62  Female  21.2    96                      118
23    0  Female  27.1   222                      163
24   65  Female  25.3    98                      128
25   60  Female  27.6    87                      123
26   57  Female  30.4    90                      170
27   75  Female  21.9   110                      115
28   73    Male  24.2   193                      145
29   46    Male  25.8   103                      137
30   54  Female  22.6    93                      141
31   48  Female  28.3    98                      142
32   62  Female  30.1   146                      165
33   60    Male  27.2   226                      134
34   67    Male  25.2    94                      155
35   60  Female  27.6   116                      158
36   64  Female  33.3   105                      129
37   71  Female  29.6   279                      129
38   61  Female  23.2    95                      129
39   65  Female  24.6   269                      171
40   56    Male  28.1   175                      141
41   63  Female  29.1   215                      173
42   57  Female   NaN   119                      129
43   47    Male  22.4    93                      128
44   74  Female  23.0    92                      119
45   44   Other  32.9   127                      113
46   62    Male  21.9    94                      134
47   98  Female  29.4   106                       94
48   51   Other  29.4   120                       99

    Blood Pressure Diastolic     alco    smoke  gender_binary age_bin  \
0                         63     none     none            1.0       0
1                         60     none     none            1.0       2
2                         79     none     none            1.0       7
3                         79  regular     none            1.0       2
4                         71     none     none            1.0       7
5                         80     none     none            1.0       8
6                         72     none     none            2.0       8
7                         78     none     none            1.0       7
8                         61     none     none            1.0       8
9                         74     none     none            2.0       6
10                        87     none     none            1.0       7
11                        55     none  regular            2.0       8
12                        76     none     none            1.0       3
13                        74     none     none            1.0       8
14                        60     none     none            1.0       8
15                        52     none     none            1.0       8
16                        76     none     none            2.0       8
17                        90     none     none            1.0       6
18                        58     none     none            1.0       6
19                        73     none     none            1.0       6
20                        77     none     none            1.0       7
21                        91     none     none            1.0       7
22                        70     none     none            1.0       7
23                        85     none     none            1.0     NaN
24                        79     none     none            1.0       8
25                        75     none     none            1.0       7
26                        83     none     none            1.0       6
27                        67     none     none            1.0       8
28                        74     none     none            2.0       8
29                        83  regular     none            2.0       4
30                        87     none     none            1.0       5
31                        90  regular     none            1.0       4
32                        80     none     none            1.0       7
33                        63     none     none            2.0       7
34                        94  regular     none            2.0       8
35                        78     none     none            1.0       7
36                        75     none     none            1.0       7
37                        60     none     none            1.0       8
38                        88     none     none            1.0       7
39                        87     none     none            1.0       8
40                        96     none     none            2.0       6
41                        87     none     none            1.0       7
42                        75     none     none            1.0       6
43                        78     none     none            2.0       4
44                        63  regular     none            1.0       8
45                        88  regular     none            NaN       3
46                        90     none     none            2.0       7
47                        89      NaN      NaN            1.0       8
48                        82      NaN      NaN            NaN       5

           MAP MAP_class BMI_class gluc_bin
0    88.000000         2         2        1
1    80.666667         2         2        1
2   103.000000         4         4        1
3    92.000000         3         2        1
4    72.333333         1         3        1
5   103.333333         4         3        2
6    88.000000         2         3        1
7    94.666667         3         2        1
8    73.666667         1         2        1
9    92.000000         3         2        1
10  110.333333         5         2        1
11   75.333333         1         2        1
12   92.666667         3         3        1
13   93.333333         3         3        1
14   80.333333         2         2        1
15   79.333333         1         2        1
16  103.333333         4         4        1
17  108.000000         4         3        3
18   73.333333         1         2        1
19   89.333333         2         3        2
20   95.666667         3         3        2
21  108.333333         4         2        1
22   86.000000         2         2        1
23  111.000000         5         3        3
24   95.333333         3         3        1
25   91.000000         3         3        1
26  112.000000         5         4        1
27   83.000000         2         2        1
28   97.666667         3         2        2
29  101.000000         4         3        1
30  105.000000         4         2        1
31  107.333333         4         3        1
32  108.333333         4         4        2
33   86.666667         2         3        3
34  114.333333         5         3        1
35  104.666667         4         3        1
36   93.000000         3         4        1
37   83.000000         2         3        3
38  101.666667         4         2        1
39  115.000000         5         2        3
40  111.000000         5         3        2
41  115.666667         5         3        3
42   93.000000         3       NaN        1
43   94.666667         3         2        1
44   81.666667         2         2        1
45   96.333333         3         4        1
46  104.666667         4         2        1
47   90.666667         3         3        1
48   87.666667         2         3        1

In [196]:
df

,age,gender,BMI,gluc,Blood Pressure Systolic,Blood Pressure Diastolic,alco,smoke,gender_binary,age_bin,MAP,MAP_class,BMI_class,gluc_bin
0,22,Female,24.3,77,138,63,none,none,1.0,0,88.000000,2,2,1
1,37,Female,21.2,95,122,60,none,none,1.0,2,80.666667,2,2,1
2,60,Female,31.5,96,151,79,none,none,1.0,7,103.000000,4,4,1
3,38,Female,24.3,110,118,79,regular,none,1.0,2,92.000000,3,2,1
4,60,Female,29.1,100,75,71,none,none,1.0,7,72.333333,1,3,1
5,65,Female,29.6,145,150,80,none,none,1.0,8,103.333333,4,3,2
6,68,Male,25.6,93,120,72,none,none,2.0,8,88.000000,2,3,1
7,62,Female,21.9,108,128,78,none,none,1.0,7,94.666667,3,2,1
8,72,Female,22.2,94,99,61,none,none,1.0,8,73.666667,1,2,1
9,56,Male,24.6,115,128,74,none,none,2.0,6,92.000000,3,2,1
10,64,Female,19.2,125,157,87,none,none,1.0,7,110.333333,5,2,1
11,71,Male,20.6,93,116,55,none,regular,2.0,8,75.333333,1,2,1
12,43,Female,29.4,92,126,76,none,none,1.0,3,92.666667,3,3,1
13,68,Female,29.5,96,132,74,none,none,1.0,8,93.333333,3,3,1
14,83,Female,20.5,92,121,60,none,none,1.0,8,80.333333,2,2,1
15,65,Female,23.8,94,134,52,none,none,1.0,8,79.333333,1,2,1
16,66,Male,33.3,98,158,76,none,none,2.0,8,103.333333,4,4,1
17,57,Female,28.6,393,144,90,none,none,1.0,6,108.000000,4,3,3
18,59,Female,22.5,95,104,58,none,none,1.0,6,73.333333,1,2,1
19,59,Female,26.2,140,122,73,none,none,1.0,6,89.333333,2,3,2
20,62,Female,26.2,181,133,77,none,none,1.0,7,95.666667,3,3,2
21,62,Female,24.4,94,143,91,none,none,1.0,7,108.333333,4,2,1
22,62,Female,21.2,96,118,70,none,none,1.0,7,86.000000,2,2,1
23,0,Female,27.1,222,163,85,none,none,1.0,NaN,111.000000,5,3,3
24,65,Female,25.3,98,128,79,none,none,1.0,8,95.333333,3,3,1
25,60,Female,27.6,87,123,75,none,none,1.0,7,91.000000,3,3,1
26,57,Female,30.4,90,170,83,none,none,1.0,6,112.000000,5,4,1
27,75,Female,21.9,110,115,67,none,none,1.0,8,83.000000,2,2,1
28,73,Male,24.2,193,145,74,none,none,2.0,8,97.666667,3,2,2
29,46,Male,25.8,103,137,83,regular,none,2.0,4,101.000000,4,3,1
30,54,Female,22.6,93,141,87,none,none,1.0,5,105.000000,4,2,1
31,48,Female,28.3,98,142,90,regular,none,1.0,4,107.333333,4,3,1
32,62,Female,30.1,146,165,80,none,none,1.0,7,108.333333,4,4,2
33,60,Male,27.2,226,134,63,none,none,2.0,7,86.666667,2,3,3
34,67,Male,25.2,94,155,94,regular,none,2.0,8,114.333333,5,3,1
35,60,Female,27.6,116,158,78,none,none,1.0,7,104.666667,4,3,1
36,64,Female,33.3,105,129,75,none,none,1.0,7,93.000000,3,4,1
37,71,Female,29.6,279,129,60,none,none,1.0,8,83.000000,2,3,3
38,61,Female,23.2,95,129,88,none,none,1.0,7,101.666667,4,2,1
39,65,Female,24.6,269,171,87,none,none,1.0,8,115.000000,5,2,3
40,56,Male,28.1,175,141,96,none,none,2.0,6,111.000000,5,3,2
41,63,Female,29.1,215,173,87,none,none,1.0,7,115.666667,5,3,3
42,57,Female,NaN,119,129,75,none,none,1.0,6,93.000000,3,NaN,1
43,47,Male,22.4,93,128,78,none,none,2.0,4,94.666667,3,2,1
44,74,Female,23.0,92,119,63,regular,none,1.0,8,81.666667,2,2,1
45,44,Other,32.9,127,113,88,regular,none,NaN,3,96.333333,3,4,1
46,62,Male,21.9,94,134,90,none,none,2.0,7,104.666667,4,2,1
47,98,Female,29.4,106,94,89,NaN,NaN,1.0,8,90.666667,3,3,1
48,51,Other,29.4,120,99,82,NaN,NaN,NaN,5,87.666667,2,3,1

In [197]:
columns_to_drop = ['age', 'MAP', 'BMI', 'Blood Pressure Systolic', 'Blood Pressure Diastolic', 'gluc']
df = df.drop(columns_to_drop, axis=1)

In [198]:
df = df.rename(columns={'gluc_bin':'gluc'})

In [199]:
# Define the desired order of columns
new_order = ['gender', 'age_bin', 'BMI_class', 'MAP_class', 'gluc', 'smoke', 'alco']

df = df[new_order]
print(df)

    gender age_bin BMI_class MAP_class gluc    smoke     alco
0   Female       0         2         2    1     none     none
1   Female       2         2         2    1     none     none
2   Female       7         4         4    1     none     none
3   Female       2         2         3    1     none  regular
4   Female       7         3         1    1     none     none
5   Female       8         3         4    2     none     none
6     Male       8         3         2    1     none     none
7   Female       7         2         3    1     none     none
8   Female       8         2         1    1     none     none
9     Male       6         2         3    1     none     none
10  Female       7         2         5    1     none     none
11    Male       8         2         1    1  regular     none
12  Female       3         3         3    1     none     none
13  Female       8         3         3    1     none     none
14  Female       8         2         2    1     none     none
15  Female       8         2         1    1     none     none
16    Male       8         4         4    1     none     none
17  Female       6         3         4    3     none     none
18  Female       6         2         1    1     none     none
19  Female       6         3         2    2     none     none
20  Female       7         3         3    2     none     none
21  Female       7         2         4    1     none     none
22  Female       7         2         2    1     none     none
23  Female     NaN         3         5    3     none     none
24  Female       8         3         3    1     none     none
25  Female       7         3         3    1     none     none
26  Female       6         4         5    1     none     none
27  Female       8         2         2    1     none     none
28    Male       8         2         3    2     none     none
29    Male       4         3         4    1     none  regular
30  Female       5         2         4    1     none     none
31  Female       4         3         4    1     none  regular
32  Female       7         4         4    2     none     none
33    Male       7         3         2    3     none     none
34    Male       8         3         5    1     none  regular
35  Female       7         3         4    1     none     none
36  Female       7         4         3    1     none     none
37  Female       8         3         2    3     none     none
38  Female       7         2         4    1     none     none
39  Female       8         2         5    3     none     none
40    Male       6         3         5    2     none     none
41  Female       7         3         5    3     none     none
42  Female       6       NaN         3    1     none     none
43    Male       4         2         3    1     none     none
44  Female       8         2         2    1     none  regular
45   Other       3         4         3    1     none  regular
46    Male       7         2         4    1     none     none
47  Female       8         3         3    1      NaN      NaN
48   Other       5         3         2    1      NaN      NaN

In [200]:
df = df[new_order]

In [201]:
df

    gender age_bin BMI_class MAP_class gluc    smoke     alco
0   Female       0         2         2    1     none     none
1   Female       2         2         2    1     none     none
2   Female       7         4         4    1     none     none
3   Female       2         2         3    1     none  regular
4   Female       7         3         1    1     none     none
5   Female       8         3         4    2     none     none
6     Male       8         3         2    1     none     none
7   Female       7         2         3    1     none     none
8   Female       8         2         1    1     none     none
9     Male       6         2         3    1     none     none
10  Female       7         2         5    1     none     none
11    Male       8         2         1    1  regular     none
12  Female       3         3         3    1     none     none
13  Female       8         3         3    1     none     none
14  Female       8         2         2    1     none     none
15  Female       8         2         1    1     none     none
16    Male       8         4         4    1     none     none
17  Female       6         3         4    3     none     none
18  Female       6         2         1    1     none     none
19  Female       6         3         2    2     none     none
20  Female       7         3         3    2     none     none
21  Female       7         2         4    1     none     none
22  Female       7         2         2    1     none     none
23  Female     NaN         3         5    3     none     none
24  Female       8         3         3    1     none     none
25  Female       7         3         3    1     none     none
26  Female       6         4         5    1     none     none
27  Female       8         2         2    1     none     none
28    Male       8         2         3    2     none     none
29    Male       4         3         4    1     none  regular
30  Female       5         2         4    1     none     none
31  Female       4         3         4    1     none  regular
32  Female       7         4         4    2     none     none
33    Male       7         3         2    3     none     none
34    Male       8         3         5    1     none  regular
35  Female       7         3         4    1     none     none
36  Female       7         4         3    1     none     none
37  Female       8         3         2    3     none     none
38  Female       7         2         4    1     none     none
39  Female       8         2         5    3     none     none
40    Male       6         3         5    2     none     none
41  Female       7         3         5    3     none     none
42  Female       6       NaN         3    1     none     none
43    Male       4         2         3    1     none     none
44  Female       8         2         2    1     none  regular
45   Other       3         4         3    1     none  regular
46    Male       7         2         4    1     none     none
47  Female       8         3         3    1      NaN      NaN
48   Other       5         3         2    1      NaN      NaN

In [202]:
df.isnull().sum()

gender       0
age_bin      1
BMI_class    1
MAP_class    0
gluc         0
smoke        2
alco         2
dtype: int64

In [203]:
df.dropna(inplace=True)

In [204]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 45 entries, 0 to 46
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   gender     45 non-null     object
 1   age_bin    45 non-null     category
 2   BMI_class  45 non-null     category
 3   MAP_class  45 non-null     category
 4   gluc       45 non-null     category
 5   smoke      45 non-null     object
 6   alco       45 non-null     object
dtypes: category(4), object(3)
memory usage: 2.5+ KB

In [205]:
import pandas as pd
import matplotlib.pyplot as plt
from kmodes.kmodes import KModes

def kmodes_by_gender(data, gender):
  cost = []
  for num_clusters in range(1, 6):
      kmode = KModes(n_clusters=num_clusters, init='Huang', n_init=5, verbose=1)
      kmode.fit_predict(data)
      cost.append(kmode.cost_)

  plt.plot(range(1, 6), cost, marker='x', color='blue')
  plt.xlabel('Number of Clusters')
  plt.ylabel('Cost')
  plt.title(f'Elbow Curve for {gender}')
  plt.show()

  # Add cluster labels to the data for this gender
  data['cluster'] = kmode.labels_
  return data

# Split the data by gender
female_data = df[df['gender'] == 1]
male_data = df[df['gender'] == 2]

# Select relevant categorical columns for clustering
male_features = male_data[:]
female_features = female_data[:]

# Perform KModes clustering for males and females
clustered_males = kmodes_by_gender(male_features.copy(), 'Male')
clustered_females = kmodes_by_gender(female_features.copy(), 'Female')

# Combine the clustered DataFrames
df_clustered = pd.concat([clustered_males, clustered_females])

ValueError: Found array with 0 sample(s) (shape=(0, 7)) while a minimum of 1 is required.

In [101]:
df.to_csv('Dataset/healthCheckup_CVD.csv', index=False)