# PIMA Indian Diabetes Dataset 2

(Dataset filling missing values with column’s mean value)

Machine Learning

In [64]:
import numpy as np
import pandas as pd

Load the dataset

In [65]:
df = pd.read_csv('diabetes.csv')

In [66]:
df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [67]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               768 non-null    int64
 1   Glucose                   768 non-null    int64
 2   BloodPressure             768 non-null    int64
 3   SkinThickness             768 non-null    int64
 4   Insulin                   768 non-null    int64
 5   BMI                       768 non-null    float64
 6   DiabetesPedigreeFunction  768 non-null    float64
 7   Age                       768 non-null    int64
 8   Outcome                   768 non-null    int64
dtypes: float64(2), int64(7)
memory usage: 54.1 KB

In [68]:
df.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [69]:
df.shape

(768, 9)

Replace '0' with NaN

In [70]:
# means before impute
mean_before_impute = df.mean()
print(mean_before_impute)

Pregnancies                   3.845052
Glucose                     120.894531
BloodPressure                69.105469
SkinThickness                20.536458
Insulin                      79.799479
BMI                          31.992578
DiabetesPedigreeFunction      0.471876
Age                          33.240885
Outcome                       0.348958
dtype: float64

In [71]:
# Copy the columns 1-8
rows_to_impute = df.iloc[:, 1:8].copy()

# Replace zero values with NaN
rows_to_impute.replace(0, np.nan, inplace=True)

# Update df with the processed data
df.iloc[:, 1:8] = rows_to_impute
print(df)

     Pregnancies  Glucose  BloodPressure  SkinThickness  Insulin   BMI  \
0              6    148.0           72.0           35.0      NaN  33.6
1              1     85.0           66.0           29.0      NaN  26.6
2              8    183.0           64.0            NaN      NaN  23.3
3              1     89.0           66.0           23.0     94.0  28.1
4              0    137.0           40.0           35.0    168.0  43.1
..           ...      ...            ...            ...      ...   ...
763           10    101.0           76.0           48.0    180.0  32.9
764            2    122.0           70.0           27.0      NaN  36.8
765            5    121.0           72.0           23.0    112.0  26.2
766            1    126.0           60.0            NaN      NaN  30.1
767            1     93.0           70.0           31.0      NaN  30.4

     DiabetesPedigreeFunction  Age  Outcome
0                       0.627   50        1
1                       0.351   31        0
2                       0.672   32        1
3                       0.167   21        0
4                       2.288   33        1
..                        ...  ...      ...
763                     0.171   63        0
764                     0.340   27        0
765                     0.245   30        0
766                     0.349   47        1
767                     0.315   23        0

[768 rows x 9 columns]

In [72]:
df.isnull().sum()

Pregnancies                   0
Glucose                       5
BloodPressure                35
SkinThickness               227
Insulin                     374
BMI                          11
DiabetesPedigreeFunction      0
Age                           0
Outcome                       0
dtype: int64

In [73]:
df.fillna(df.mean(), inplace=True)

In [74]:
df.mean()

Pregnancies                   3.845052
Glucose                     121.686763
BloodPressure                72.405184
SkinThickness                29.153420
Insulin                     155.548223
BMI                          32.457464
DiabetesPedigreeFunction      0.471876
Age                          33.240885
Outcome                       0.348958
dtype: float64

In [75]:
df

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148.0,72.0,35.00000,155.548223,33.6,0.627,50,1
1,1,85.0,66.0,29.00000,155.548223,26.6,0.351,31,0
2,8,183.0,64.0,29.15342,155.548223,23.3,0.672,32,1
3,1,89.0,66.0,23.00000,94.000000,28.1,0.167,21,0
4,0,137.0,40.0,35.00000,168.000000,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
763,10,101.0,76.0,48.00000,180.000000,32.9,0.171,63,0
764,2,122.0,70.0,27.00000,155.548223,36.8,0.340,27,0
765,5,121.0,72.0,23.00000,112.000000,26.2,0.245,30,0
766,1,126.0,60.0,29.15342,155.548223,30.1,0.349,47,1
767,1,93.0,70.0,31.00000,155.548223,30.4,0.315,23,0

In [76]:
df['Outcome'].value_counts()

Outcome
0    500
1    268
Name: count, dtype: int64

Split Data 80:20

In [77]:
x = df.iloc[:,0:8] #select all rows, select columns 0 to 8
y = df['Outcome']

In [78]:
x.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
0,6,148.0,72.0,35.00000,155.548223,33.6,0.627,50
1,1,85.0,66.0,29.00000,155.548223,26.6,0.351,31
2,8,183.0,64.0,29.15342,155.548223,23.3,0.672,32
3,1,89.0,66.0,23.00000,94.000000,28.1,0.167,21
4,0,137.0,40.0,35.00000,168.000000,43.1,2.288,33

In [79]:
y.sample(5)

123    0
529    0
5      0
115    1
558    0
Name: Outcome, dtype: int64

Random Forest

In [80]:
import csv
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score

all_results = []

# Define specific seeds for train-test split
seeds = [1234, 5678, 9012, 3456, 7890, 48291, 71635, 20918, 36547, 10283, 94721, 53068, 87195, 61423, 25856, 13902, 78345, 42678, 96012, 30541]  

with open("RF_D2_results.csv", "a", newline="") as csvfile:
    writer = csv.writer(csvfile)

    # Write header row if the file doesn't exist
    writer.writerow(["Seed", "Accuracy", "Precision", "Recall", "F1-Score"])

    for seed in seeds:
        X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=seed)

        # hyperparameter
        parameters = {
            'criterion': ['gini', 'entropy'],
            'max_features': ['sqrt'],
            'random_state': range(1, 51, 5),  # Nested random state for inner CV
            'min_samples_leaf': range(1, 51, 5),
            'n_estimators': range(1, 51, 5)
        }
        
        # Create a RandomForestClassifier object
        clf = RandomForestClassifier()
        
        # Perform GridSearchCV with specified seed
        rf_classifier = GridSearchCV(clf, parameters, cv=5, scoring='f1', n_jobs=-1, error_score='raise')
        rf_classifier.fit(X_train, y_train)
        
        # Get the best estimator and make predictions
        best_model = rf_classifier.best_estimator_
        y_pred = best_model.predict(X_test)
        
        # Evaluate the model (replace with your chosen metrics)
        accuracy = accuracy_score(y_test, y_pred)
        precision = precision_score(y_test, y_pred)
        recall = recall_score(y_test, y_pred)
        f1 = f1_score(y_test, y_pred)
        
        writer.writerow([seed, accuracy, precision, recall, f1])
        
        print(f"Seed: {seed} - Accuracy: {accuracy:.4f}, Precision: {precision:.4f}, Recall: {recall:.4f}, F1-Score: {f1:.4f}")

Seed: 1234 - Accuracy: 0.7532, Precision: 0.7073, Recall: 0.5273, F1-Score: 0.6042
Seed: 5678 - Accuracy: 0.8182, Precision: 0.8235, Recall: 0.6885, F1-Score: 0.7500
Seed: 9012 - Accuracy: 0.7597, Precision: 0.6250, Recall: 0.5319, F1-Score: 0.5747
Seed: 3456 - Accuracy: 0.7532, Precision: 0.6800, Recall: 0.6071, F1-Score: 0.6415
Seed: 7890 - Accuracy: 0.7792, Precision: 0.7179, Recall: 0.5490, F1-Score: 0.6222
Seed: 48291 - Accuracy: 0.7468, Precision: 0.7045, Recall: 0.5439, F1-Score: 0.6139
Seed: 71635 - Accuracy: 0.7597, Precision: 0.6939, Recall: 0.6071, F1-Score: 0.6476
Seed: 20918 - Accuracy: 0.7078, Precision: 0.5926, Recall: 0.5818, F1-Score: 0.5872
Seed: 36547 - Accuracy: 0.7857, Precision: 0.6279, Recall: 0.6136, F1-Score: 0.6207
Seed: 10283 - Accuracy: 0.6818, Precision: 0.5870, Recall: 0.4737, F1-Score: 0.5243
Seed: 94721 - Accuracy: 0.8247, Precision: 0.7778, Recall: 0.6731, F1-Score: 0.7216
Seed: 53068 - Accuracy: 0.7857, Precision: 0.7436, Recall: 0.5577, F1-Score: 0.6374
Seed: 87195 - Accuracy: 0.7403, Precision: 0.6400, Recall: 0.5926, F1-Score: 0.6154
Seed: 61423 - Accuracy: 0.7338, Precision: 0.7045, Recall: 0.5254, F1-Score: 0.6019
Seed: 25856 - Accuracy: 0.7273, Precision: 0.6585, Recall: 0.4909, F1-Score: 0.5625
Seed: 13902 - Accuracy: 0.8247, Precision: 0.7174, Recall: 0.7021, F1-Score: 0.7097
Seed: 78345 - Accuracy: 0.7597, Precision: 0.6667, Recall: 0.6545, F1-Score: 0.6606
Seed: 42678 - Accuracy: 0.8377, Precision: 0.7073, Recall: 0.6905, F1-Score: 0.6988
Seed: 96012 - Accuracy: 0.7013, Precision: 0.5217, Recall: 0.5000, F1-Score: 0.5106
Seed: 30541 - Accuracy: 0.8052, Precision: 0.7234, Recall: 0.6667, F1-Score: 0.6939